
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#reserve {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}

form input, textarea {
    padding: .5rem;
    font-size: 1.2rem;
    color: #f8f8f8;
    margin: 1rem 0;
    font-family: sans-serif;
    background: rgba(0, 0, 0, .15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .15);
    color: var(--primary-dark);
    min-width: 288px;
    text-align: center;
}

form button {
    min-width: 160px;
}

form input:focus, textarea:focus {
    outline: var(--primary-dark);
    box-shadow: 0 0 12px 0 var(--primary-dark);
}

form textarea {
    padding-top: 25px;
    text-align: left;
}